body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #ffeede;
    margin: 0;
    padding: 0;
}

header {
  font-family: 'Segoe UI', Arial, sans-serif;
  background-color: #ff7000;
  padding: 25px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(255,136,0,0.5);
}

.titulo-principal {
  font-size: 3em;
  color: #fff;
  text-shadow: 2px 3px 10px #d04000;
  margin: 0 20px 10px 0;
  font-weight: 900;
}

nav ul {
  display: flex;
  gap: 35px;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.1em;
  padding: 8px 16px;
  border-radius: 20px;
  transition: background-color 0.4s ease, color 0.4s ease;
}

nav a.active, nav a:hover {
  background-color: #ffe0b2;
  color: #cc5500;
  box-shadow: 0 0 8px #cc5500;
}

#banner {
  width: 100%;
  max-width: 200px;
  margin-top: 20px;
  border-radius: 25px;
  box-shadow: 0 4px 20px rgba(255, 136, 0, 0.4);
}

main {
    max-width: 1000px;
    margin: 40px auto;
    padding: 25px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 20px rgba(0,0,0,0.09);
}

.titulo-principal-produtos {
    text-align: center;
    color: #fb3b0b;
    font-size: 2.1em;
    margin-bottom: 35px;
}

ul.produtos {
    display: flex;
    gap: 38px;
    justify-content: center;
    list-style: none;
    padding: 0;
}

ul.produtos li {
    background: #fff4dd;
    border: 1px solid #ff8800;
    border-radius: 16px;
    padding: 20px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produto-descricao {
    font-size: 1.12em;
    margin: 12px 0;
    color: #222;
}
.produto-preco {
    color: #fb3b0b;
    font-size: 1.23em;
    font-weight: bold;
    margin-bottom: 10px;
}

footer {
    background: #fb3b0b;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    border-radius: 0 0 14px 14px;
    margin-top: 60px;
}
footer img {
    width: 100px;
    margin-bottom: 10px;
    border-radius: 14px;
}
.copyright {
    margin-top: 8px;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    nav ul {
        flex-direction: column;
        gap: 12px;
        margin-top: 12px;
    }
    ul.produtos {
        display: flex;
        align-items: center;
        flex-direction: column;
       
    }
    ul.produtos li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
        max-width: 60%;
        padding: 10%;
    }
    ul.produtos li h3 {
        font-size: 1.1em;
    }
    ul.produtos li img {
        max-width: 100%;
        height: auto;
    }
    .titulo-principal-produtos {
        font-size: 1.5em;
    }
}